.search-input-wrapper {
  position: relative;

  .ash-search-input {
    width: 160px;
    height: 30px;
    border-radius: 15px;
    padding-left: 28px;

    transition: width 0.4s ease;
  }

  // Expand the field a bit when in focus or have value
  .ash-search-input:focus,
  .ash-search-input:not(:invalid)  {
    width: 220px;
  }

  .search-icon {
    position: absolute;
    bottom: 9px;
    left: 10px;
    height: 12px;
    width: 12px;
    display: flex;
    color: #42a7e7;
  }
}
