<div class="search-input-wrapper">
  <ash-svg-icon [svgIconName]="svgIconName" class="search-icon"> </ash-svg-icon>
  <input required
    class="form-control ash-search-input"
    [(ngModel)]="searchValue"
    (ngModelChange)="onSearch($event)"
  />
</div>
