@import '../../../styles/variables';

.cell-action-dropdown-wrapper {
  padding-top: 5px;
  float: right;
}
.cell-action-dropdown-icon-wrapper {
  width: 30px;
  height: 30px;
  padding: 5px;
  color: $ash-table-header-color;
  &:hover {
    color: $ash-primary-hover;
  }
}

.cell-action-dropdown-icon {
  width: 100%;
  height: 100%;
}

.cell-action-dropdown-item {
  font-size: 13px;
  font-family: $ash-font-regular;
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  &:focus {
    outline: unset;
  }
}
