<div class="cell-action-dropdown-wrapper">
  <div [matMenuTriggerFor]="menu" class="cell-action-dropdown-icon-wrapper ash-cursor-pointer">
    <ash-svg-icon class="cell-action-dropdown-icon" [svgIconName]="actionIcon"></ash-svg-icon>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of items" class="cell-action-dropdown-item" [ngClass]="item.itemClass" (click)="item.actionFunction(rowData)">
      {{ item.actionText }}
    </button>
  </mat-menu>
</div>
