// font size values array
$font-sizes: (5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26) !default;

$font-class-prefix: fs;
$font-size-attribute: font-size;
// margin and padding shorthands

@mixin create-font-classes() {
  @each $value in $font-sizes {
    .#{$font-class-prefix}-#{$value} {
      #{$font-size-attribute}: #{$value}#{'px'};
    }
  }
}

@include create-font-classes();

.f-f-h-m {
  font-family: Heebo-Medium, sans-serif;
}

.f-f-h-r {
  font-family: Heebo-Regular, sans-serif;
}

.f-f-h-b {
  font-family: Heebo-Bold, sans-serif;
}

.f-f-h-eb {
  font-family: Heebo-ExtraBold, sans-serif;
}

.f-f-h-l {
  font-family: Heebo-Light, sans-serif;
}
