// style guide color
$ash-black: #393939;
$ash-brown-grey: #828282;
$ash-white-two: #fcfcfc;
// end of style guide color

$ash-primary: #1fa8e9;
$ash-success: #9dd300;
$ash-info: #eaf7fd;
$ash-light: rgba(239, 237, 237, 0.62);
$ash-green: #08532e;
$ash-red: #ff0600;

$ash-white: #ffffff;
$ash-white2: #ebebeb;
$ash-white3: #efefef;
$ash-brownish-grey: #5c5c5c;
$ash-brown-grey-two: #aaaaaa;

$ash-light-black2: #505050;
$ash-gray: #cbcbcb;
$ash-very-light-pink-two: #ededed;

$ash-white-border: 1px solid #e6e6e6;

$ash-default-color: #7c7c7c;

$ash-header-color: #fefefe;
$ash-header-height: 50px;
$ash-header-shadow: rgba(0, 0, 0, 0.08) 0 1px 2px;
$ash-sidebar-width: 50px;

$ash-button-shadow: rgba(0, 0, 0, 0.16) 0 2px 6px;
$ash-tree-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
$ash-primary-hover: #00b8e9;
$ash-primary-selected: #008cce;
$ash-pulldown-color: #2c86c2;

$ash-gradient-primary: linear-gradient(to bottom, $ash-primary, #1aa0e4);

$border-radius-half-circle-left: 15px 0 0 15px;

$ash-tree-min-width: 280px;

$ash-light-silver: #a2a2a2;

$ash-page-margin: 40px;

$ash-dark-blue: #005288;
$ash-light-blue: #99c6dd;
$ash-xlight-blue: #dce9ef;
$ash-greyed-out: #afafaf;

// *** tables ***
$ash-table-header-background-color: #f3fafe;
$ash-table-header-font-size: 13px;
$ash-table-header-font-family: Heebo-Medium;
$ash-table-header-color: #4a6a8c;

$ash-table-row-hove-background-color: rgba(31, 168, 233, 0.02);
$ash-table-row-font-size: 13px;
$ash-table-row-font-family: Heebo-Regular;
$ash-table-row-color: #5c5c5c;

// *** icons ***
$ash-azure-icon-color: #1fa8e9;
$ash-help-icon-color: #d8d8d8;

// *** z-index ***
$button-z-index: 1;
$loader-z-index: 10;
$ash-tree-backdrop-z-index: 99;
$ash-tree-z-index: 100;
$ash-sidebar-z-index: 101;

// *** placeholder ***
$ash-placeholder-color: #aaa;
$ash-placeholder-font-size: 13px;

// fonts
$ash-font-light: Heebo-Light, sans-serif;
$ash-font-medium: Heebo-Medium, sans-serif;
$ash-font-regular: Heebo-Regular, sans-serif;
$ash-font-bold: Heebo-Bold, sans-serif;
