<!--translate-fix-->
<ng-template #tipContent>{{ infoMessage }}</ng-template>
<div tooltipClass="ash-tooltip" [ngbTooltip]="tipContent">
  <ash-svg-icon [svgIconName]="infoIcon" class="info-icon"></ash-svg-icon>
</div>
