<div class="home-wrapper">
    <div class="home-inner-wrapper">
      <div class="svg-cloud-wrapper">
        <ash-svg-icon [svgIconName]="genericFlowIcon" class="generic-flow-icon-flow-icon"> </ash-svg-icon>
      </div>
      <div class="generic-flow-title-icon-wrapper">
        <ash-svg-icon [svgIconName]="algosecIcon" class="algosec-icon"> </ash-svg-icon>
        <div class="title m-l-5">
          <span class="text-primary">GENERIC</span>
          <span class="flow">FLOW</span>
        </div>
      </div>
      <div class="sample-security-management">
        Sample Home Page
      </div>
      <div class="divider-wrapper">
        <ash-divider> </ash-divider>
      </div>
      <div class="sub-title">
        {{logoSubtitleText}}
      </div>
      <div class="welcome-block m-t-30 fs-14">
        <div>
          <span class="sub-title">Welcome to the LibTester sample home page! </span>
        </div>
      </div>
    </div>
  </div>
  