@import '../../styles/variables.scss';

.home-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 95px;

  .home-inner-wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;

    .generic-flow-icon {
      width: 180px;
      height: 180px;
    }

    .generic-flow-title-icon-wrapper {
      display: flex;
    }

    .algosec-icon {
      width: 24px;
      height: 34px;
    }

    .title {
      font-size: 26px;
      font-family: Heebo-ExtraBold, sans-serif;
      .flow {
        color: black;
        font-family: Heebo-Medium, sans-serif;
      }
    }

    .sample-security-management {
      font-size: 18px;
      color: grey;
      padding-left: 2px;
    }

    .divider-wrapper {
      margin-top: 50px;
      width: 100%;
    }

    .sub-title {
      margin-top: 35px;
      font-size: 18px;
      font-family: Heebo-Light;
      color: black;
    }
  }
}
