<div class="user-management-wrapper">
    <div class="navbar-username">Hello {{ username }}</div>
    <div class="user-management-button-wrapper" ngbDropdown placement="bottom-right">
      <button type="button" class="user-management-button btn p-0 w-100" id="dropdownBasic1" ngbDropdownToggle></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="fs-12">
        <a class="dropdown-item" [href]="eulaPdfLink" download="End User License Agreement Algosec.pdf">EULA</a>
        <a class="dropdown-item" [href]="cloudFlowHelpCenter" target="_blank" rel="noopener noreferrer">Help Center</a>
        <button class="dropdown-item" (click)="userLogout()">Log Out</button>
      </div>
    </div>
  </div>
  