@import '../styles/variables.scss';
@import '../styles.scss';

$text-padding: 15px 5px;

.user-management-wrapper {
  display: flex;
  text-align: right;
}

.navbar-username {
  display: inline-block;
  text-align: center;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: $text-padding;
  color: #42a7e7;
  font-size: 12px;
  font-family: $ash-font-regular;
}

.user-management-button-wrapper {
  display: inline-block;
  width: 30px;
  height: $ash-header-height;
  margin-left: 15px;
  margin-right: 15px;
  font-family: Heebo-Regular, sans-serif;
}

.user-management-icon-wrapper {
  padding: 3px;
}

.dropdown-item{
  &.dropdown-item:hover {
    width:110px;
  }
}

.user-management-button {
  color: #cccccc;
  margin-top: 15px;
  margin-bottom: 15px;
}
