@import '../../styles/variables';

button.btn-default {
  font-family: Heebo-Medium, sans-serif;
  font-size: 13px;
  color: $ash-white;
  height: 40px;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  &.cancel {
    color: $ash-default-color;
  }
  &.btn-ash-white {
    border-color: #efefef;
  }
  &.btn-ash-light-blue {
    border-color: #f3fafe;
  }
  &.red-border {
    color: $ash-default-color;
    border-color: #ffaaae;
  }
  &.light-blue-border {
    color: $ash-default-color;
    border-color: #c3e5f5;
  }
  &.outline-border {
    border-width: 1px;
    font-size: 16px;
    color: #00a5ed;
    border-color: #00a5ed;
    background-color: #f3fafe;
    height: 33px;
    padding: 0 20px;
  }
  &:disabled.ash-button-disabled {
    color: #8e8e8e !important;
  }

  &.no-border-color {
    border-color: rgba(0, 0, 0, 0);
  }
  &.no-background-color {
    background-color: unset;
  }
}

@mixin icon-medium() {
  width: 15px;
  height: 15px;
}

@mixin icon-large() {
  width: 19px;
  height: 19px;
}

.left-icon-default {
  width: 11px;
  height: 10px;
  margin-right: 8px;

  &.md {
    @include icon-medium;
    margin-right: 12px;
  }

  &.lg {
    @include icon-large;
    margin-right: 15px;
  }
}

.right-icon-default {
  width: 11px;
  height: 10px;
  padding-left: 10px;
}

.btn-primary:disabled.ash-button-disabled {
  background-color: #8e8e8e;
  border-color: $ash-brown-grey;
}
