<button
  [attr.form]="formId"
  [type]="type"
  [attr.title]="tooltip ? tooltip : null"
  class="btn"
  [ngClass]="getButtonClass()"
  [disabled]="disabled"
  (click)="onClick()"
>
  <ash-svg-icon *ngIf="!!svgLeftIconName" [svgIconName]="svgLeftIconName" [ngClass]="svgLeftIconClass"></ash-svg-icon>
  {{ name }}
  <ash-svg-icon *ngIf="!!svgRightIconName" [svgIconName]="svgRightIconName" [ngClass]="svgRightIconClass"></ash-svg-icon>
</button>
