@import '../../styles/variables';

.input-default {
  width: 100%;
  font-size: 13px;
  height: 36px;
}

::placeholder {
  color: $ash-placeholder-color;
  font-size: $ash-placeholder-font-size;
}

.is-invalid {
  background-image: none;
  padding-right: 0.75rem;
}
