<div
  *ngIf="isIconType(); else buttonType"
  class="ash-copy-to-clipboard-button ash-cursor-pointer"
  ngbTooltip="Copied to clipboard"
  triggers="manual"
  #t="ngbTooltip"
  tooltipClass="ash-tooltip"
  [ngxClipboard]="target"
  [cbContent]="textToCopy"
  (cbOnSuccess)="t.open()"
>
  <ash-svg-icon [svgIconName]="copyToClipboardIcon" class="copy-to-clipboard-icon"></ash-svg-icon>
</div>

<ng-template #buttonType>
  <ash-button
    name="Copy to clipboard"
    buttonClass="btn-default text-primary"
    color="ash-white"
    ngbTooltip="Copied to clipboard"
    triggers="manual"
    #t="ngbTooltip"
    tooltipClass="ash-tooltip"
    [ngxClipboard]="target"
    [cbContent]="textToCopy"
    (cbOnSuccess)="t.open()"
    [svgLeftIconName]="copyToClipboardIcon"
  >
  </ash-button>
</ng-template>
