<div ngbAutofocus class="modal-container">
  <div class="modal-header">
    <h4 *ngIf="title" class="modal-title">{{ title }}</h4>
    <h4 *ngIf="!title" class="modal-title"><span class="text-warning">Oops..</span> Something went wrong</h4>
    <!--translate-fix-->
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ash-svg-icon [svgIconName]="warningIcon" class="warningIcon-icon text-warning"></ash-svg-icon>
    <div class="m-l-25">
      {{ error }}
    </div>
    <!--translate-fix-->
  </div>
  <div class="modal-footer">
    <ash-button name="OK" color="primary" (click)="activeModal.close('OK')"></ash-button>
  </div>
</div>
