.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-container {
  padding: 10px;
}

.modal-body {
  display: flex;
}

.warningIcon-icon {
  height: 60px;
  width: 70px;
}
