@font-face {
  font-family: Heebo-Regular;
  src: url('../assets/fonts/heebo/Heebo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Heebo-Medium;
  src: url('../assets/fonts/heebo/Heebo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Heebo-Bold;
  src: url('../assets/fonts/heebo/Heebo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Heebo-ExtraBold;
  src: url('../assets/fonts/heebo/Heebo-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: Heebo-Light;
  src: url('../assets/fonts/heebo/Heebo-Light.ttf') format('truetype');
}
