@import 'variables';

.mat-icon svg {
  vertical-align: top;
}

.ash-disabled {
  color: #c0c0c0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 16px;
}

// reset _reboot.scss
[type='submit'] {
  -webkit-appearance: none;
}

.nounderline {
  text-decoration: none !important;
}

.ash-bold {
  font-weight: 500;
}

.ash-scrollbar {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f2f2f2;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
  }
}

.ash-tooltip {
  &.tooltip.show {
    opacity: 1;
  }

  .tooltip-inner {
    font-size: 13px;
    background-color: $ash-very-light-pink-two;
    color: $ash-light-black2;
  }

  .arrow::before {
    border-bottom-color: $ash-very-light-pink-two;
    border-top-color: $ash-very-light-pink-two;
    border-left-color: $ash-very-light-pink-two;
    border-right-color: $ash-very-light-pink-two;
  }

  &.ash-multi-line-tooltip {
    .tooltip-inner {
      white-space: nowrap;
      max-width: none;
      text-align: left;
    }
  }
}

.ash-error-tooltip {
  &.tooltip.show {
    opacity: 1;
  }

  .tooltip-inner {
    font-size: 11px;
    background-color: #fdddde;
    color: #393939;
  }

  &.large-width {
    .tooltip-inner {
      max-width: 400px;
    }
  }

  &.extra-large-width {
    .tooltip-inner {
      max-width: 600px;
      font-size: 12px;
    }
  }

  .arrow::before {
    border-bottom-color: #fdddde;
    border-top-color: #fdddde;
  }
}

// ag-grid Allow standard browser selection mode for copy - need to remove this when we have the Enterprise version of ag-grid
div.ag-root {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.ash-transparent-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

div.ng-placeholder {
  color: $ash-placeholder-color;
  font-size: $ash-placeholder-font-size;
}

// ng select
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: unset;
}

.ng-select {
  font-size: 13px;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
}

.ng-select.ng-select-disabled > .ng-select-container {
  background-color: #e9ecef;
  opacity: 1;
}

  ng-select.ash-select-pill {
    margin-left: 0.5em;
    display: inline-block;

    >.ng-select-container {
      border-radius: 16px;
      min-height: 0;
      height: 32px;
    }

    >.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
      padding: 0 10px;
    }
  }

//*********

.ash-cursor-pointer {
  cursor: pointer;
}

.ash-cursor-not-allowed {
  cursor: not-allowed;
}

// dialogs
@media (min-width: 992px) {
  .create-or-edit-policy-dialog {
    .modal-lg {
      max-width: 650px;
    }
  }
}

@media (min-width: 992px) {
  .json-viewer-modal {
    .modal-lg {
      max-width: 980px;
      height: 650px;
    }
  }
}

.ngx-json-viewer {
  overflow: visible !important;
  height: 95% !important;

  .segment-key {
    color: $ash-black !important;
    font-family: $ash-font-medium;
    font-size: 13px;
  }

  .segment-value {
    color: $ash-brown-grey-two !important;
    font-family: $ash-font-regular;
    font-size: 13px;
  }
}

.ash-break-word {
  word-wrap: break-word;
}

.ash-text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
