.container {
  margin: 50px;
}

.row {
  height: 250px;
}

ash-svg-icon {
  width: 150px;
  margin: 50px 50px;
}

.text-section {
  margin: 4em auto 2em;
}

.header-wrapper {
  h3 {
    font-weight: 800;
  }
}

.body-wrapper {
  margin-top: 1em;
  h3 {
    font-size: 14px;
  }
}

.buttons-wrapper {
  display: inline-block;
}

.form-additional-description {
  font-size: 13px;
  color: #7c7c7c;
  margin-top: 8px;
}
