<div class="container">
  <ash-loading *ngIf="isLoading; else asmsIntegrationBlock"></ash-loading>

<ng-template  #asmsIntegrationBlock>
  <div class="row">
    <ng-container [ngSwitch]="isIntegrationSet()">
      <ng-template [ngSwitchCase]="true">
        <ash-svg-icon [svgIconName]="tsqIntegrationIconName"></ash-svg-icon>
      </ng-template>
      <ng-template [ngSwitchCase]="false">
        <ash-svg-icon [svgIconName]="tsqConnectivityIconName"></ash-svg-icon>
      </ng-template>
    </ng-container>
    <div>
      <div class="text-section">
        <ng-container [ngSwitch]="isIntegrationSet()">
          <ng-template [ngSwitchCase]="true">
            <div class="header-wrapper">
              <h3>
                ASMS - AlgoSec Cloud trust has been established!
              </h3>
            </div>
            <div class="body-wrapper">
              <h3>
                In the event that trust needs to be re-established, download the file again.
              </h3>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="false">
            <div class="header-wrapper">
              <h3>
                Have you established trust with ASMS?
              </h3>
            </div>
            <div class="body-wrapper">
              <h3>
                Download the trust establishment file for use in ASMS.
              </h3>
            </div>
          </ng-template>
        </ng-container>
      </div>
      <div class="buttons-wrapper">
        <ash-button name="Download" color="primary" (click)="onDownloadConfigurationFile()" [svgLeftIconName]="downloadIconName" svgLeftIconClass="left-icon-default md"></ash-button>
      </div>
    </div>
  </div>
    <div class="divider-wrapper">
      <ash-divider> </ash-divider>
    </div>
    <div class="form-additional-description">
    For detailed instructions, see the
    <a [href]="asmsIntegrationHelpCenterLink" class="nounderline" rel="noopener noreferrer" target="_blank"
      >Help Center</a
    >.
  </div>
</ng-template>
</div>
