<div *ngIf="isLoading$ | async; else usersBlock" class="loading-rule-grid-wrapper">
  <ash-loading class="loading"></ash-loading>
</div>

<ng-template #usersBlock class="ash-scrollbar">
  <div class="users-table-wrapper ash-scrollbar">
    <ash-ag-grid
      class="ash-ag-grid-component-users ash-scrollbar"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"
      [rowData]="userListToShow"
    >
    </ash-ag-grid>
  </div>
</ng-template>
