.form-modal-container {
  padding: 25px;
}

.button-wrapper {
  justify-content: flex-end;
}

.submit-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  &.form-group {
    margin-bottom: 0;
  }
  
  &>ash-button:first-child {
    margin-right: 10px;
  }
}

.modal-info-text-wrapper {
  display: flex;
  font-size: 12px;
}
