<div class="form-modal-container">
  <div>
    <button type="button" class="close" aria-label="Close" (click)="onClose('Cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h4>
    <!--translate-fix-->
    {{ title }}
  </h4>

  <div class="modal-container">
    <ng-content></ng-content>

    <div class="form-row button-wrapper">
      <div class="form-group submit-wrapper">
        <ash-button class="m-r-10" buttonClass="btn-default cancel" (click)="onClose('Cancel')" [name]="cancelButtonName" color="light">
        </ash-button>
        <ash-button type="submit" formId="ashForm" [name]="confirmButtonName" color="primary"></ash-button>
      </div>
    </div>
    <div class="modal-info-text-wrapper">
      <div class="modal-info-text" *ngIf="!!modalInfoText">
        {{ modalInfoText }}
      </div>
    </div>
  </div>
</div>
