@import '../../styles/variables';

.input-default {
  width: 185px;
  height: 28px;
  font-size: 13px;
}

.error-wrapper {
  margin-top: 2px;
  .error {
    font-size: 9px;
  }
}
.ash-editable-text-field-text-danger {
  color: #e66262;
  font-size: 9px;
}
.action-icon {
  display: flex;
  align-self: center;
  margin-left: 10px;
  font-size: 12px;
  &.pen {
    color: #99c6dd;
  }
  &.check {
    color: #a6cd39;
  }
}
.input-icon-wrapper {
  display: flex;
  justify-content: space-between;
}

.edit-icon {
  height: 18px;
  width: 13px;
  color: $ash-light-blue;
  margin-left: 5px;
}

.correct-icon {
  height: 27px;
  width: 15px;
  color: $ash-light-blue;
  margin-left: 5px;
}

.close-icon {
  height: 27px;
  width: 13px;
  color: $ash-light-blue;
  margin-left: 5px;
}
