<div>
  <div class="input-icon-wrapper">
    <input
      *ngIf="editMode; else textBlock"
      type="text"
      class="form-control"
      ngClass="{{ inputClass }}"
      [(ngModel)]="value"
      (ngModelChange)="handleInputChange()"
      [autocomplete]="autocomplete"
      [attr.maxlength]="editMaxLength"
    />
    <div *ngIf="displayIcon || editMode" (click)="handleIconClick()">
      <div [ngSwitch]="iconName" class="icon-wrapper ash-cursor-pointer">
        <ash-svg-icon *ngSwitchCase="'EDIT'" [svgIconName]="editIcon" class="edit-icon"> </ash-svg-icon>
        <ash-svg-icon *ngSwitchCase="'CORRECT'" [svgIconName]="correctIcon" class="correct-icon"> </ash-svg-icon>
        <ash-svg-icon *ngSwitchCase="'ERROR'" [svgIconName]="closeIcon" class="close-icon"> </ash-svg-icon>
      </div>
    </div>
  </div>
  <ng-template #textBlock>
    <span [ngClass]="textClass"  [title]="getTooltipText()">{{ value }}</span>
  </ng-template>
</div>
<div class="error-wrapper">
  <div *ngIf="editMode" class="text-danger error">
    {{ editFieldError }}
  </div>
</div>
