<nav class="ash-navbar container-fluid ">
    <div class="navbar-content-wrapper row no-gutters">
      <div class="navbar-title-wrapper" (click)="toggle()" [ngClass]="{'isTreeDisplayed': isTreeDisplayed}">
        <div class="nav-bar-title-icon-wrapper" *ngIf="icon">
          <ash-svg-icon class="nav-bar-title-icon" [svgIconName]="icon"></ash-svg-icon>
        </div>
        <div class="navbar-title fs-16" [title]="title">{{ title }}</div>
        <div class="navbar-toggle-tree-wrapper" *ngIf="isTreeDisplayed">          
          <ash-svg-icon *ngIf="isTreeOpen" class="navbar-toggle-tree-icon" [svgIconName]="navbarCloseTreeIcon"> </ash-svg-icon>
          <ash-svg-icon *ngIf="!isTreeOpen" class="navbar-toggle-tree-icon" [svgIconName]="navbarOpenTreeIcon"> </ash-svg-icon>
        </div>
      </div>
      <div class="flex-fill"></div>
      <ash-nav-bar-user-management [username]="username" (logout)="userLogout()"></ash-nav-bar-user-management>
      <div class="navbar-logo-divider-wrapper">
        <ash-divider class="navbar-logo-divider" [vertical]="true"></ash-divider>
      </div>       
      <div class="navbar-logo-wrapper">      
        <div class="navbar-algosec-logo-wrapper">        
          <ash-svg-icon class="navbar-algosec-logo" [svgIconName]="navbarLogo"></ash-svg-icon>        
        </div>                 
      </div>        
    </div>
  </nav>
  