@import '../styles/variables.scss';
@import '../styles.scss';


.ash-navbar {
  background-color: $ash-header-color;
  box-shadow: $ash-header-shadow;
  height: $ash-header-height;
  padding: 0;
}

.navbar-content-wrapper {
  height: 100%;
}

.navbar-toggle-tree {
  width: $ash-header-height;
  height: $ash-header-height;
  float: left;
}

.navbar-toggle-tree-button {
  width: 100%;
  height: 100%;
}

.navbar-toggle-tree-wrapper {
  padding-top: 2px;
}

.navbar-toggle-tree-icon {
  width: 18px;
  height: 18px;
}

.navbar-toggle-divider-wrapper {
  display: inline-flex;
  height: $ash-header-height;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-toggle-divider {
  display: inline-flex;
  height: 100%;
}

.navbar-title-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 15px 15px 0 15px;
  color: #505050;
  font-family: $ash-font-regular;

  &.isTreeDisplayed:hover {
    background-color: #ebebeb;
    border-color: #e5e4e4;
    border-radius: 2px;
  }
}

.nav-bar-title-icon-wrapper {
  width: 20px;
  height: 20px;
  padding: 2px;
}

.nav-bar-title-icon {
  width: 16px;
  height: 16px;
}

.navbar-title {
  display: inline-block;
  max-width: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  color: $ash-light-black2;
  padding: 0 7px;
}

.navbar-logo-wrapper {
  width: 150px;
}

.navbar-algosec-logo-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 10px 0 10px;

}

.navbar-algosec-logo {
  width: 100%;
  height: 100%;
}

.navbar-logo-divider-wrapper {
  display: inline-flex;
  height: $ash-header-height;
}

.navbar-logo-divider {
  display: inline-flex;
  height: 100%;
  color: #cccccc;
}
