<div class="json-viewer-modal-container ash-scrollbar" [ngClass]="{ loading: isLoading }">
  <ash-loading *ngIf="isLoading; else modalData" size="small" position="relative"></ash-loading>
  <ng-template #modalData>
    <div class="header">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="title">Element Details</div>
    </div>
    <div class="element-name" placement="bottom" [disableTooltip]="disableTooltip" [ngbTooltip]="elementName" tooltipClass="ash-tooltip">
      {{ elementName }}
    </div>
    <ash-divider></ash-divider>
    <div class="row-action">
      <div class="expand-collapse-buttons">
        <ash-button
          name="Expand all"
          buttonClass="btn-default text-primary m-r-10"
          color="ash-white"
          (action)="onExpandClick()"
          [svgLeftIconName]="expandIcon"
        >
        </ash-button>
        <ash-button
          name="Collapse all"
          buttonClass="btn-default text-primary"
          color="ash-white"
          (action)="onCollapseClick()"
          [svgLeftIconName]="collapseIcon"
        >
        </ash-button>
      </div>

      <div class="copy-to-clipboard-wrapper">
        <ash-copy-to-clipboard [copyButtonType]="copyButtonType" [textToCopy]="data | json"></ash-copy-to-clipboard>
      </div>
    </div>
    <div class="json-data">
      <ngx-json-viewer [expanded]="isExpanded" [json]="data"></ngx-json-viewer>
    </div>

    <div class="json-viewer-modal-footer">
      <ash-button name="Close" color="primary" (click)="activeModal.close('ok')"></ash-button>
    </div>
  </ng-template>
</div>
