@import '../../styles/variables';

$modal-padding: 35px;

.json-viewer-modal-container {
  height: 580px;
  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    color: #505050;
    font-size: 21px;
    font-family: Heebo-Bold;
  }

  .header {
    padding: $modal-padding $modal-padding 0 $modal-padding;
  }

  .element-name {
    margin-left: $modal-padding;
    padding-bottom: 15px;
    color: #505050;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 800px;
  }

  .row-action {
    display: flex;
    padding-left: $modal-padding;
    padding-right: $modal-padding;
    margin-top: 18px;
    justify-content: space-between;
  }

  .json-data {
    padding-left: $modal-padding;
    margin-right: $modal-padding;
    display: flex;
    margin-top: 22px;
    height: 315px;
    overflow-y: scroll;
  }

  .loading-wrapper {
    display: flex;
    justify-content: center;
  }

  .expand-collapse-buttons {
    display: flex;
  }

  .json-viewer-modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: $modal-padding;
    margin-top: 20px;
  }
}
