@import '../../styles/variables';
@import '../../styles/ash_ag_grid';

$highlighted-row-color: rgba(255, 187, 121, 0.17);

.ag-theme-alpine {
  background-color: unset;
  .ag-root, .ag-root-wrapper {
    border: unset;
  }

  .ag-header-container {
    background-color: $ash-table-header-background-color;
  }

  .ag-header-cell-text {
    font-family: $ash-table-header-font-family;
    font-size: $ash-table-header-font-size;
    font-weight: 500;
    color: $ash-table-header-color;
  }

  .ag-row {
    border-color: $ash-very-light-pink-two;
    background-color: #fcfcfc;
    font-size: $ash-table-row-font-size;
    font-family: $ash-table-row-font-family;
    color: $ash-table-row-color;

    &.highlighted-row {
      background-color: rgba(236, 140, 70, 0.25);
      border: 1px solid #eb8c46;
      border-radius: 3px;
    }
  }

  .ag-paging-panel {
    border-top: unset;
  }

  .ag-row-selected {
    background-color: #f7f7f7;
  }

  .ag-row-hover {
    background-color: #f7f7f7;
  }

  &.hover-grid {
    .ag-row-hover {
      cursor: pointer;
    }
  }

  .ag-cell-focus {
    border: 1px solid transparent !important;
  }

  .ag-overlay-wrapper {
    font-size: 13px;
  }

  .ag-icon-expanded {
    background-image: url('src/assets/svg/chevron-down-light.svg');
  }
  .ag-row .ag-group-expanded .ag-icon-contracted {
    background-image: url('src/assets/svg/chevron-up-light.svg');
  }

  .ag-row.ag-row-level-1 {
    background: #f5f5f5;
  }
}
