.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  &.small {
    width: 80px;
    height: 80px;
  }

  &.xs {
    width: 35px;
    height: 35px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
  }

  &.position-relative {
    position: relative;
    left: unset;
    top: unset;
    margin: unset;
  }

  &.position-absolute {
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
