$m-margin-left: 460px;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 600px) {
  .loading-modal {
    .modal-dialog {
      max-width: 600px;
    }
  }
}

.loading-modal {
  .modal-content {
    height: 53px;
    border-radius: 100px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
  }

  .connecting-icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    animation: spin 1.7s linear infinite;
  }

  .c1 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-left: calc(#{$m-margin-left} + 5px);
    margin-top: -20px;
  }

  .c2 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: calc(#{$m-margin-left} - 10px);
    margin-top: -8px;
  }
  .c3 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: calc(#{$m-margin-left} + 40px);
    margin-top: -14px;
  }
  .c4 {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #ffffff;
    margin-left: calc(#{$m-margin-left} + 54px);
    margin-top: -7px;
  }
}
