<div class="modal-container">
  <div class="c1"></div>
  <div class="c2"></div>
  <div class="c3"></div>
  <div class="c4"></div>
  <div class="content">
    <ash-svg-icon [svgIconName]="connectingIcon" class="connecting-icon text-primary"></ash-svg-icon>
    {{ message }}
    <!--translate-fix-->
  </div>
</div>
