<div class="ag-cell-label-container ag-header-cell-sorted-desc" role="presentation">
  <div ref="eLabel" (click)="onSortRequested($event)" class="ag-header-cell-label" role="presentation">
    <span ref="eText" class="ag-header-cell-text" role="columnheader">{{ params.displayName }}</span>
    <span ref="eFilter" class="ag-header-icon ag-filter-icon ag-hidden" aria-hidden="true"></span>
    <span [ngClass]="ascSort" class="ag-icon ag-icon-asc"></span>
    <span [ngClass]="descSort" class="ag-icon ag-icon-desc"></span>
    <span [ngClass]="noSort" class="ag-header-icon ag-sort-none-icon ag-hidden"></span>
  </div>
  <div [ngSwitch]="hasUrl" class="grid-header-help-icon">
    <a
      *ngSwitchCase="'hasUrl'"
      href="{{ helpUrl }}"
      target="_blank"
      [title]="helpTooltipText"
      container="body"
    >
      <acf-svg-icon [svgIconName]="helpIcon" class="help-icon"> </acf-svg-icon>
    </a>
    <acf-svg-icon
      *ngSwitchCase="'noUrl'"
      [svgIconName]="helpIcon"
      class="help-icon"
      [title]="helpTooltipText"
      container="body"
    >
    </acf-svg-icon>
  </div>
</div>
