@import 'src/styles/variables';

.grid-header-help-active {
  display: block;
  margin-left: 4px;
}

.grid-header-help-inactive {
  display: none;
}

.grid-header-help-icon {
  cursor: pointer;
  padding-top: 8px;
  width: 15px;
  height: 15px;
  color: $acf-help-icon-color;

  >* {
    margin-left: 0.5em;
  }
}

.help-icon {
  width: 15px;
  height: 15px;
  color: $acf-azure-icon-color;
}

.ag-header-cell-label {
  width: auto;
}
