<input
  *ngIf="editMode; else textBlock"
  (click)="onTouched()"
  type="text"
  class="form-control {{ inputClass }}"
  [id]="id"
  [(ngModel)]="value"
  [autocomplete]="autocomplete"
  [required]="required"
  [placeholder]="placeholder"
/>
<ng-template #textBlock>
  <div class="ash-editable-text-label">
    <span placement="bottom"  [title]="value">{{ value }}</span>
  </div>
</ng-template>
