@import '../../styles/variables';

.input-default {
  width: 70%;
  height: 15px;
  border: 1px solid #e2e2e2;
  border-radius: unset;
  font-size: 13px;
  font-family: Heebo-Regular;
  color: #5c5c5c;
}

@media (min-width: 1500px) {
  .input-default {
    width: 80%;
  }
}

.ash-editable-text-label {
  padding-left: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $ash-placeholder-color;
  font-size: $ash-placeholder-font-size;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $ash-placeholder-color;
  font-size: $ash-placeholder-font-size;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $ash-placeholder-color;
  font-size: $ash-placeholder-font-size;
}
