@import '@algosec/base-components/assets/styles/acf-theme';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '@algosec/base-components/assets/styles/variables';
@import '@algosec/base-components/assets/styles/global';
@import '~@ng-select/ng-select/themes/default.theme.css';

.app-wrapper,
.app-wrapper .app-content {
  height: 100vh;
  min-width: 1280px;
  width: 100%;
  font-family: Heebo-Regular, sans-serif;
  color: $ash-light-black2;
  background-color: $ash-white-two;
  flex-wrap: nowrap;
}

.col {
  margin-left: 50px;
}