<!-- <ash-loading></ash-loading> -->

<div class="app-wrapper">
  <div class="app-content row no-gutters">
    <ash-side-bar
        [sidebarTopButtons]=
            "[
                {
                    buttonLabel: 'HOME',
                    buttonLink: '',
                    buttonIconName: 'ic-menu-home'
                }
            ]"
        [sidebarBottomButtons]=
            "[
                {
                    buttonLabel: 'COMPONENT SAMPLES',
                    buttonLink: 'sample',
                    buttonIconName: 'ic-grid'
                },
                {
                    buttonLabel: 'PANEL B',
                    buttonLink: 'under-construction',
                    buttonIconName: 'ic-menu-sample-b'
                },
                {
                    buttonLabel: 'PANEL C',
                    buttonLink: 'under-construction',
                    buttonIconName: 'ic-menu-sample-c'
                },
                {
                    buttonLabel: 'AUTH TESTER',
                    buttonLink: 'auth-tester',
                    buttonIconName: 'ic-menu-flow'
                }
            ]"

        [sidebarSettingsButtons]=
            "[
                {
                    buttonLabel: 'PANEL X',
                    buttonLink: 'settings/under-construction',
                    buttonIconName: 'sample-x'
                },
                {
                    buttonLabel: 'ASMS INTEGRATION',
                    buttonLink: 'settings/asms-integration',
                    buttonIconName: 'ash-plug-light'
                },
                {
                    buttonLabel: 'ACCESS MANAGEMENT',
                    buttonLink: 'settings/access-management',
                    buttonIconName: 'users-cog-light'
                }
            ]"
        [settingsIcon]="'cog-solid'" 
        [sidebarAlgosecIcon]="'ic-algosec'"> 
    ></ash-side-bar>
    <div class="col">
        <ash-nav-bar
            [username]="'Jonny'"
            [title]="title"
            [isTreeDisplayed]="isTreeDisplayed"
            [isTreeOpen]="isTreeOpen"    
            [navbarLogo]="'ic-algoseccloud'"
            [isBetaPage]="false"
            [navbarOpenTreeIcon]="'angle-up-solid'"
            [navbarCloseTreeIcon]="'angle-down-solid'"
        >
        </ash-nav-bar>
      <div class="app-main-content container-fluid px-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>