<div *ngFor="let item of items" class="cell-multi-item">
  <span *ngIf="!shouldDisplayFullName" [title]="item.fullName">{{ item.shortName }}</span>
  <span *ngIf="shouldDisplayFullName" [title]="item.fullName">{{ item.fullName }}</span>
</div>
