<div ngbAutofocus class="modal-container">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <!--translate-fix-->
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p [innerHTML]="body"></p>
    <!--translate-fix-->
  </div>
  <div class="modal-footer">
    <ash-button [name]="declineButtonText" buttonClass="btn-default cancel" color="light" (click)="activeModal.close(no)"></ash-button>
    <ash-button [name]="approveButtonText" color="primary" (click)="activeModal.close(yes)"></ash-button>
  </div>
</div>
