<div class="access-management-container">
  <nav mat-tab-nav-bar>
    <a
      class="nounderline"
      mat-tab-link
      *ngFor="let link of navLinks"
      [active]="true"
    >
      {{ link.label }}
    </a>
  </nav>

  <div class="access-grid-header-wrapper row">
    <div class="col-4 p-10">
      <ash-search class="access-management-search" (search)="handleSearch($event)"></ash-search>
      <div class="access-management-number-of-items">{{ numberOfItems + ' ' + tabTextToTextMap.get(selectedTab) }}s found</div>
    </div>
    <div class="flex-fill col-5"></div>
    <div class="add-item-button-wrapper col">
      <ash-button
        class="add-item-button"
        color="acf-white"
        buttonClass="{{'btn-default text-primary accessmgmt-add-' + tabTextToTextMap.get(selectedTab) + '-open-dialog-button'}}"
        [name]="'Add ' + tabTextToTextMap.get(selectedTab)"
        (action)="addButtonClicked()"
        [svgLeftIconName]="plusIcon"
      ></ash-button>
    </div>
  </div>
  <div class="access-grid-wrapper">
    <ash-users-table-container></ash-users-table-container>
  </div>
</div>
