.access-management-container {
  margin: 40px;
}

.access-grid-header-wrapper {
  padding: 10px;
}

.access-grid-wrapper {
  height: calc(100vh - 280px);
}

.add-item-button-wrapper {
  padding: 5px;
  justify-content: flex-end;
}

.add-item-button {
  display: flex;
  justify-content: flex-end;
}
.access-management-search {
  display: inline-block;
  margin-right: 10px;
}

.access-management-number-of-items {
  display: inline-block;
  margin-left: 10px;
  font-family: Heebo-Medium, sans-serif;
  font-size: 13px;
}
