$margin-bottom: 16px;

.create-or-edit-user-modal-wrapper {
  height: 450px;

  .form-row:first-child {
    margin-top: 25px;
  }

  .row-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  .col-wrapper {
    width: 280px;
    margin-bottom: $margin-bottom;
  }

  .col-wrapper-role {
    flex: 1;
  }

  .col-wrapper-mfa {
    display: flex;
  }

  .col-wrapper-roles-error {
    font-size: 11px;
    margin-bottom: 5px;
    color: #e66262;
    height: 15px;
  }

  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error-wrapper {
    display: flex;
    justify-content: flex-start;
    height: 25px;

    .error-text {
      color: #ff0b15;
      font-size: 14px;
    }
  }

  .mfa-buttons-wrapper {
    font-size: 13px;

    &>input {
      margin-left: 10px;
    }
  }

  .mfa-label-option {
    margin-left: 3px;
    vertical-align: middle;
  }

  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: transparent;
    margin-right: 0px;
  }

  .role-item-label {
    margin-right: 5px;
    font-size: 13px;
    background-color: #e2f4fd;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
  }

  .ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value{
    border: unset;
  }

  .ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value .role-item-label{
    background-color: transparent;
    border: 1px solid #d4d4d4;
  }

  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
    border: unset;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
    padding-left: 8px;
    padding-right: 1px;
    font-weight: 500;
  }

  .ng-select.ng-select-multiple.ng-select-disabled .ng-select-container .ng-value-container .ng-value .ng-value-label {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    border-bottom: solid 1px #d8d8d850;
  }

  .role-option-container {
    display: flex;
  }

  .role-checkbox {
    align-self: center;
  }

  .role-data {
    flex-grow: 1;
    margin-left: 10px;
  }

  .role-data-name {
    font-size: 13px;
    font-weight: 500;
  }

  .role-data-desc {
    font-size: 12px;
  }

  .role-oob {
    opacity: 0.5;
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .create-or-edit-user-modal {
    .modal-lg {
      max-width: 680px;
      height: 475px;
    }
  }
}
