<div class="create-or-edit-user-modal-wrapper" [ngClass]="{ loading: isLoading }">
  <ash-loading *ngIf="isLoading; else modalData" size="small" position="relative"></ash-loading>
  <ng-template #modalData>
    <ash-form-modal [title]="modalTitleText" [confirmButtonName]="modalButtonText" [modalInfoText]="modalInfoText">
      <form [formGroup]="form" id="ashForm" (ngSubmit)="onSubmit()">
        <div class="form-row m-t-25">
          <div class="col-12 row-wrapper">
            <ash-input
              class="col-wrapper"
              formControlName="username"
              label="Username"
              id="username"
              i18n-errorMsg
              errorMsg="Must be a valid username"
              ngbModalAutofocus="true"
              [displayError]="isFieldInvalid('username')"
            >
            </ash-input>

            <ash-input
              class="col-wrapper"
              formControlName="email"
              label="Email"
              id="email"
              i18n-errorMsg
              errorMsg="Must be a valid email"
              [displayError]="isFieldInvalid('email')"
            >
            </ash-input>
          </div>
        </div>

        <div class="form-row">
          <div class="col-12 row-wrapper">
            <ash-input
              class="col-wrapper"
              formControlName="firstName"
              label="First name"
              id="firstName"
              i18n-errorMsg
              errorMsg="Must be a valid name"
              [displayError]="isFieldInvalid('firstName')"
            >
            </ash-input>

            <ash-input
              class="col-wrapper"
              formControlName="lastName"
              label="Last name"
              id="lastName"
              i18n-errorMsg
              errorMsg="Must be a valid name"
              [displayError]="isFieldInvalid('lastName')"
            >
            </ash-input>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 row-wrapper">
            <div class="col-wrapper-role">
              <ash-label-with-info id="roles" label="Roles"> </ash-label-with-info>
              <ng-select
                bindLabel="name"
                bindValue="id"
                
                placeholder=""
                formControlName="roles"
                [multiple]="true"
                [closeOnSelect]="false"
                [items]="rolesOptions"
              >
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <div class="role-item-label" *ngIf="item.name">
                    <span aria-hidden="true" class="ng-value-icon left ng-star-inserted" (click)="clear(item)">×</span>
                    <span class="ng-value-label ng-star-inserted">{{item.name}}</span>
                  </div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <div class="role-option-container">
                    <div class="role-checkbox"><input id="item-{{index}}" type="checkbox" [checked]="item$.selected"/></div>
                    <div class="role-data">
                      <div class="role-data-name">{{item.name}}</div>
                      <div class="role-data-desc">{{item.description}}</div>
                    </div>
                    <div class="role-oob">{{item.isOOB ? 'Predefined':''}}</div>
                  </div>
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-12 row-wrapper">
            <div class="col-wrapper-roles-error">
              <span *ngIf="showRolesError">At least one role must be selected</span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 row-wrapper">
            <div class="col-wrapper-mfa">
              <ash-label-with-info
                id="mfaLabel"
                label="MFA enforced"
                infoText="Enforce Multiple Factor Authentication when logging in to AlgoSec Cloud. For more details see the Help Center">
              </ash-label-with-info>
              <div class="mfa-buttons-wrapper">
                <input type="radio" id="mfaTrue" class="m-l-10" formControlName="mfaEnable" [value]="true"><label class="mfa-label-option" for="mfaTrue">Yes</label>
                <input type="radio" id="mfaFalse" class="m-l-10" formControlName="mfaEnable" [value]="false"><label class="mfa-label-option" for="mfaFalse">No</label>
              </div>
            </div>
          </div>
        </div>
        <div class="error-wrapper">
          <div class="error-text" *ngIf="showErrorMessage">
            {{ errorMessage }}
          </div>
        </div>
      </form>
    </ash-form-modal>
  </ng-template>
</div>
