<div class="sample-wrapper">
    <div>Logged in user: {{getUsername()}}</div>
    <br>
    <div>User's configured operations: {{getFormattedOps()}}</div>
    <br>
    <div>Components below enabled only for operations: AdminSettings, ManageResources</div>
    <br>
<ash-button buttonClass="btn-default" 
    name="Sample ash-button" 
    [color]="canUserEdit(['ManageResources','AdminSettings']) ? 'primary' : 'light'" 
    (action)="onClick()" 
    [disabled]="!canUserEdit(['ManageResources','AdminSettings'])"
    [tooltip]="!canUserEdit(['ManageResources','AdminSettings']) ?  'User does not have privileges for this action': ''"
    > 
</ash-button>

<br>
<div class="sample-checkbox-label-wrapper">
   <input type="checkbox"
   [title]="!canUserEdit(['ManageResources','AdminSettings']) ? 'User does not have privileges for this action' : ''" 
   [disabled]="!canUserEdit(['ManageResources','AdminSettings'])"
    class="sample-checkbox " id="sample-checkbox-id" 
    [ngClass]="{'ash-cursor-not-allowed': !canUserEdit(['ManageResources','AdminSettings'])}"/>
    <label class="sample-checkbox-label sample-checkbox-label-green" 
    [ngClass]="{'ash-cursor-not-allowed': !canUserEdit(['ManageResources','AdminSettings']),
                'sample-checkbox-label-blue': canUserEdit(['ManageResources','AdminSettings'])}"
    for="sample-checkbox-id">Sample checkbox (component not in lib)</label>
</div>

<br>

<div class="flex-container">
    <div class="flex-left">
        Sample ash-editable-text-field:
    </div>
    <div class="flex-right">
        <ash-editable-text-field 
            value="some text goes here"     
            [displayIcon]="canUserEdit(['ManageResources','AdminSettings'])"       
            [ngClass]="{'ash-cursor-not-allowed': !canUserEdit(['ManageResources','AdminSettings']), 'ash-edit-text-disabled': !canUserEdit(['ManageResources','AdminSettings'])}"
            [showTooltip]="true"
            editAllowed="true"
            [editMode]="canUserEdit(['ManageResources','AdminSettings'])"
            [editMaxLength]="1000"
            disabled="!canUserEdit(['ManageResources','AdminSettings'])">
        </ash-editable-text-field>
    </div>
</div>