@import '@algosec/base-components/assets/styles/variables';
@import '@algosec/base-components/assets/styles/global';

.sample-wrapper {
    margin:15px;
}

.sample-checkbox-label-wrapper {
    display: flex;
    padding-bottom: 3px;
  }
  .sample-checkbox {
     margin-top: 5px; 
  }
.sample-checkbox-label {
    font-size: 15px;
    color: #8e8e8e;
    margin-left: 5px;
  }
  .sample-checkbox-label-blue {
    color: $ash-primary;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
}

.flex-left {
    width: 15%;
    height: 100vh;
}

.flex-right {
    width: 15%;
}

.ash-edit-text-disabled {
    color: $ash-greyed-out;
}