<div class="fullwidth clearfix">
	<div id="topcontainer" class="bodycontainer clearfix">
		
		<p><span class="fa fa-signal"></span></p>
		<h1><span>Progress</span><br />is coming soon</h1>
		<p>It's almost ready ... honest</p>
        
		<ash-svg-icon class="under-contruction-image" svgIconName="under-construction_geek_man"> </ash-svg-icon>
	</div>
</div>