.fullwidth
{
	width: 100%;
	padding: 60px 30px;
	min-width: 280px;
}

.fullwidth .bodycontainer
{
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	text-align: center;
}

.under-contruction-image {
    width: 50%;
    height: 50%;
}

    