<div class="sidebar-wrapper" [ngClass]="{'forcefully-collapse-sidebar': forcefullyCollapseSidebar}">
  <nav class="sidebar" [ngClass]="{'forcefully-collapse-sidebar': forcefullyCollapseSidebar, pinned: isPinned}" (mouseleave)="onMouseLeave()"> 
    <div class="sidebar-header">
      <div class="sidebar-header-icon-wrapper">
        <ash-svg-icon class="sidebar-icon header" [svgIconName]="sidebarAlgosecIcon"></ash-svg-icon>
      </div>
      <div class="sidebar-header-text">Generic<span class="sidebar-header-text-inner">Flow</span></div>      
      <div class="sidebar-header-icon-wrapper">
         <!-- <div class="sidebar-header-icon-wrapper" (click)="onPinClicked()">
        <ash-svg-icon *ngIf="isPinned" class="sidebar-icon header" svgIconName="caret-left-solid"></ash-svg-icon>
        <ash-svg-icon *ngIf="!isPinned" class="sidebar-icon header" svgIconName="caret-right-solid"></ash-svg-icon>
         -->
      </div>
    </div>
    <div class="sidebar-content-wrapper">
      <ul class="list-unstyled components sidebar-top-buttons-wrapper m-b-0">
        <li
          class="sidebar-section-button-wrapper"
          *ngFor="let sidebarButton of sidebarTopButtons"
          (click)="onSidebarClicked($event)"
          (mouseenter)="onMouseEnter()"
        >
          <a
            [routerLink]="[sidebarButton.buttonLink]"
            class="sidebar-section-button"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
         
            <div class="sidebar-icon-wrapper">
              <ash-svg-icon [svgIconName]="sidebarButton.buttonIconName" class="sidebar-icon"></ash-svg-icon>
            </div>
            <span class="sidebar-section-button-text">{{ sidebarButton.buttonLabel }}</span>
            <!--translate-fix-->
          </a>
        </li>
      </ul>
      <ash-divider></ash-divider>
      <ul class="list-unstyled components sidebar-bottom-buttons-wrapper m-t-0">
        <li
          class="sidebar-section-button-wrapper"
          *ngFor="let sidebarButton of sidebarBottomButtons"
          [ngClass]="{ disabled: shouldDisableRiskFeature && sidebarButton.buttonLabel === 'RISKS' }"
          (click)="onSidebarClicked($event)"
          (mouseenter)="onMouseEnter()"
        >
          <a [routerLink]="[sidebarButton.buttonLink]" class="sidebar-section-button" routerLinkActive="selected">
            <div class="sidebar-icon-wrapper">
              <ash-svg-icon [svgIconName]="sidebarButton.buttonIconName" class="sidebar-icon"></ash-svg-icon>
            </div>
            <span class="sidebar-section-button-text">{{ sidebarButton.buttonLabel }}</span>
            <!--translate-fix-->
          </a>
        </li>
      </ul>
      <div
        class="sidebar-very-bottom-buttons-wrapper item-count-{{ sidebarSettingsButtons.length }}"
        routerLinkActive="settings-active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <ul class="list-unstyled components m-t-0">
          <li class="sidebar-section-button-wrapper">
            <a class="sidebar-section-button">
              <div class="sidebar-icon-wrapper">
                <ash-svg-icon [svgIconName]="settingsIcon" class="sidebar-icon"></ash-svg-icon>
              </div>
              <span class="sidebar-section-button-text">SETTINGS</span>
            </a>
          </li>
          <li
            *ngFor="let sidebarButton of sidebarSettingsButtons"
            class="sidebar-section-button-wrapper header"
            (click)="onSidebarClicked($event)"
            (mouseenter)="onMouseEnter()"
          >
            <a
              [routerLink]="sidebarButton.buttonLink"
              class="sidebar-section-button"
              routerLinkActive="selected"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <div class="sidebar-icon-wrapper">
                <ash-svg-icon [svgIconName]="sidebarButton.buttonIconName" class="sidebar-icon"></ash-svg-icon>
              </div>
              <span class="sidebar-section-button-text">{{ sidebarButton.buttonLabel }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
