@import '../styles/variables.scss';
@import '../styles.scss';
/*Sidebar layout*/
.sidebar-wrapper {
  position: absolute;
  z-index: $ash-sidebar-z-index;
  display: flex;
  align-items: stretch;
  height: 100%;
  font-size: 1.1em;
  line-height: 1.7em;
  color: #999;
  overflow: hidden;

  &:hover:not(.forcefully-collapse-sidebar) {
    box-shadow: 0px 0px 12px black;
    transition: all 0.3s;
  }
}

/*CSS for open sidebar*/
.sidebar {
  z-index: $ash-sidebar-z-index;
  min-width: 200px;
  max-width: 200px;
  background-image: $ash-gradient-primary;
  color: $ash-white;
  transition: all 0.3s;

  .sidebar-header {
    background: $ash-header-color;
    box-shadow: $ash-header-shadow;
    height: $ash-header-height;
    font-size: 20px;
    border-right: $ash-white-border;
    color: $ash-primary;
    display: flex;

    .sidebar-header-text {
      transition: all 0.3s;
      overflow: hidden;
      width: 135px;
      height: 30px;
      font-family: Heebo-ExtraBold, sans-serif;
      padding-top: 7px;
      .sidebar-header-text-inner {
        font-family: $ash-font-medium;
        color: $ash-black;
      }
    }
    .sidebar-header-pin {
      overflow: hidden;
      width: 30px;
      height: 30px;
    }

    .sidebar-header-icon-wrapper {
      padding: 10px 25px 7px 15px;
      width: 30px;
      height: 30px;

      .sidebar-icon.header {
        display: inline-block;
        width: 20px;
        height: 20px;
      }
    }
  }

  .sidebar-icon-wrapper {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 10px 5px 5px 5px;

    .sidebar-icon {
      width: 20px;
      height: 20px;
    }
  }

  .sidebar-section-button-wrapper {
    transition: background-color 0.3s;
    &:hover {
      background: $ash-primary-hover;
    }
  }

  .sidebar-section-button {
    height: 50px;
    font-size: 13px;
    display: block;
    padding-left: 10px;

    &.selected {
      color: $ash-white;
      background: $ash-primary-selected;
      pointer-events: none;
    }
  }

  .sidebar-section-button {
    font-size: 12px;
    font-family: $ash-font-medium;
  }

  .sidebar-section-button,
  .sidebar-section-button:hover,
  .sidebar-section-button:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

  .sidebar-section-button-text {
    position: absolute;
    margin-left: 8px;
    transition: all 0.3s;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 5px;
    height: 30px;
    opacity: 1;
    white-space: nowrap;
  }

  &:not(.pinned) {
    &:not(:hover),
    &.forcefully-collapse-sidebar {
      min-width: 50px;
      max-width: 50px;

      .sidebar-header .sidebar-header-text {
        opacity: 0;
      }

      .sidebar-section-button {
        padding-left: 10px;

        .sidebar-section-button-text {
          opacity: 0;
        }
      }

      .toggle-sidebar-button {
        left: 37px;
      }
    }
   }

  .sidebar-section-button-wrapper.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    .sidebar-section-button {
      pointer-events: none;
    }
  }
  .sidebar-content-wrapper {
    display: flex;
    flex-direction: row;
    height: 500px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    > * {
      width: 100%;
    }
  }

  .sidebar-very-bottom-buttons-wrapper {
    align-self: flex-end;
    position: absolute;
    transition: bottom ease 0.3s;

    > * {
      margin-bottom: 0;
    }
  }

  .sidebar-very-bottom-buttons-wrapper.item-count-1 {
     bottom: calc(-2px - (50px * 1));
  }

  .sidebar-very-bottom-buttons-wrapper.item-count-2 {
     bottom: calc(-2px - (50px * 2));
  }

  .sidebar-very-bottom-buttons-wrapper.item-count-3 {
     bottom: calc(-2px - (50px * 3));
  }

  .sidebar-very-bottom-buttons-wrapper.item-count-4 {
     bottom: calc(-2px - (50px * 4));
  }

  .sidebar-very-bottom-buttons-wrapper.item-count-5 {
     bottom: calc(-2px - (50px * 5));
  }

  .sidebar-very-bottom-buttons-wrapper.item-count-6 {
     bottom: calc(-2px - (50px * 6));
  }

  .sidebar-very-bottom-buttons-wrapper.item-count-7 {
     bottom: calc(-2px - (50px * 7));
  }

  .sidebar-very-bottom-buttons-wrapper.item-count-8 {
     bottom: calc(-2px - (50px * 8));
  }

  .sidebar-very-bottom-buttons-wrapper.item-count-9 {
     bottom: calc(-2px - (50px * 9));
  }

  .sidebar-very-bottom-buttons-wrapper:hover,
  .sidebar-very-bottom-buttons-wrapper.settings-active {
    bottom: 0;
  }

  .sidebar-very-bottom-buttons-wrapper li:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .sidebar-very-bottom-buttons-wrapper li:first-child,
  .sidebar-very-bottom-buttons-wrapper li:first-child :hover {
    background-color: initial;
  }

  .sidebar-very-bottom-buttons-wrapper li:nth-child(2) {
    background: linear-gradient(180deg, rgba(34, 53, 80, 1) 0%, rgba(52, 79, 120, 1) 12%, rgba(52, 79, 120, 1) 100%);
  }

  .sidebar-very-bottom-buttons-wrapper li:nth-child(2).sidebar-section-button-wrapper:hover {
    background: linear-gradient(180deg, rgba(78, 119, 176, 1) 0%, $ash-primary-hover 12%, $ash-primary-hover 100%);
  }

  .sidebar-very-bottom-buttons-wrapper li:nth-child(2) .sidebar-section-button.selected {
    background: linear-gradient(180deg, #005881 0%, #008cce 12%, #008cce 100%);
  }

  .sidebar-very-bottom-buttons-wrapper li:not(:first-child) {
    background-color: #344f78;
  }

  .sidebar-very-bottom-buttons-wrapper li:not(:first-child):not(:nth-child(2)):hover {
    background-color: $ash-primary-hover;
  }
}
